<?xml version="1.0" encoding="utf-8" ?>


<appSettings>

  <add key="Development Mode Security Override" value="true" />
  <add key="copyright" value="Development Environment SQL"/>
  <add key="Watermark" value="GA Custom DEVELOPMENT WatchDog one"/>
<Master>
<Branch ONe>
<add key = "one branch master"></add>
  <add key="version" value="v5.4.3 WatchDog"/>
  <add key="Watch Dog Enabled" value="false"/>
  <add key="Watch Dog Users to Include" value="CraigK,PaveyK,RuckerG,KeenanJ"/>
  <!--<add key="Watch Dog Pages to Include" value="SubmissionList.aspx "/>-->
  <add key="Watch Dog Pages to Exclude" value="default.aspx"/>

  <!--  begin DEV section -->
  <add key="main DB Connection" value="server=DGACLAXVMSQL01;database=premium;user id='[uid encrypt]';password='[pass encrypt]'"></add>
  <add key="main DB Connection uid" value="m6KgJIceiDr8RZmoyflvsQ=="/>
<Branchhhhhhhhhhhhhh>
<Branch One>
  <add key="main DB Connection pass" value="VeA6fbuvITO9viXsg9weSA=="/>
  <add key="main DB DBMS" value="SqlClientParmed"></add>
  <add key="main DB Concurrency" value="Key"></add>

  <add key="mainnoforce DB Connection" value="server=DGACLAXVMSQL01;database=premium;user id='[uid encrypt]';password='[pass encrypt]'"></add>
  <add key="mainnoforce DB Connection uid" value="m6KgJIceiDr8RZmoyflvsQ=="/>
  <add key="mainnoforce DB Connection pass" value="VeA6fbuvITO9viXsg9weSA=="/>
  <add key="mainnoforce DB DBMS" value="SqlClientParmed"></add>
  <add key="mainnoforce DB Concurrency" value="Key"></add>

  <!-- Blob database connection-->
  <!--<add key="ldssql DB Connection" value="server=TGACLAXMSQL04;database='LargeDataStorage-dev';user id='blob-admin';password='a@D,D15B1L'"></add>
  <add key="ldssql DB DBMS" value="SqlClient"></add>
  <add key="ldssql DB Concurrency" value="Key"></add>-->

  <!-- Forms Library database connection-->
  <add key="formslibrary DB Connection" value="server=TGACLAXMSQL04;database=FormsLibrary-dev;;user id='[uid encrypt]';password='[pass encrypt]'"></add>
  <add key="formslibrary DB Connection uid" value="UJ4GcWXu4YF8WMxuCQCalA=="/>
  <add key="formslibrary DB Connection pass" value="Q64IeXIr/gEdrPFFlypIKA=="/>
  <add key="formslibrary DB DBMS" value="SqlClientParmed"></add>
  <add key="formslibrary DB Concurrency" value="Key"></add>
<add key = "one branch"></add>
  <add key="secure DB Connection" value="Server='SYB_DEV';Port=5000;Database='secure';UID='[uid encrypt]';PWD='[pass encrypt]';TextSize=4096000;NamedParameters=true;Min Pool Size=1;Pooling=true;Max Pool Size=3;Application Name='CUSPSecureASE';TrimSpaces=0"/>
  <add key="secure DB Connection uid" value="Q3OLmzSLtoM/rFJAxnEUrg=="/>
  <!--<add key="secure DB Connection uid" value="Yq4dIDkEmWKXN5QWaQwtog=="/>-->
  <add key="secure DB Connection pass" value="NFDL/mnX8aAAdoEv+hb8RA=="/>
  <add key="secure DB DBMS" value="ASENoForceUser"></add>
  <add key="secure DB Concurrency" value="Key"></add>

  <add key="sequence DB Connection" value="server=DGACLAXVMSQL01;database=premium;user id='[uid encrypt]';password='[pass encrypt]'"></add>
  <add key="sequence DB Connection uid" value="m6KgJIceiDr8RZmoyflvsQ=="/>
  <add key="sequence DB Connection pass" value="VeA6fbuvITO9viXsg9weSA=="/>
  <add key="sequence DB DBMS" value="SqlClientParmed"></add>
  <add key="sequence DB Concurrency" value="Key"></add>


  <!--<add key="sequence DB Connection" value="Server='SYB_DEV';Port=5000;Database='ius';UID='[uid encrypt]';PWD='[pass encrypt]';TextSize=4096000;NamedParameters=true;Min Pool Size=1;Pooling=true;Max Pool Size=3;Application Name='CUSPSequenceASE';TrimSpaces=0"/>
  <add key="sequence DB Connection uid" value="Q3OLmzSLtoM/rFJAxnEUrg=="/>
  <add key="sequence DB Connection pass" value="NFDL/mnX8aAAdoEv+hb8RA=="/>
  <add key="sequence DB DBMS" value="ASENoForceUser"></add>
  <add key="sequence DB Concurrency" value="Key"></add>-->

  <!-- Combined Premium and Losses database connection-->
  <!--<add key="combined DB Connection" value="server=SQL_RPT;database=RPT;user id='crystaladmin';password='crystaladmin'"></add>
		<add key="combined DB Connection uid" value="UJ4GcWXu4YF8WMxuCQCalA=="/>
		<add key="combined DB Connection pass" value="kbauJUQZSCf0xm2t5/wMlw=="/>
		<add key="combined DB DBMS" value="SqlClient"></add>
		<add key="combined DB Concurrency" value="Key"></add>-->

  <add key="Form Specimen Service" value="https://dev.gamcustom.info/GACPublicWebServices/GetSpecimen.ashx?f={0}&amp;c={1}"/>
  <add key="Enable Specimen Links" value="true"/>
  <add key="Enable Letter Specimen Links" value="true"/>

  <add key="ClearanceIUS" value="https://dev.gamcustom.info/ClearanceIUS/Clearance.aspx?insuredcode={0}&amp;subnum={1}&amp;action=edit&amp;scope={2}"/>
  <add key="Contractor" value="https://dev.gamcustom.info/ClearanceIUS/Contractor.aspx?contractor_code={0}&amp;insuredcode={1}&amp;subnum={2}&amp;action=edit"/>

  <!-- For Risk summary Report connection parameters, also Used in DataPipe.aspx.vb for connecting to DB	-->
  <add key="database" value="ius"/>
  <add key="userid" value="[uid encrypt]"/>
  <add key="userid uid" value="Yq4dIDkEmWKXN5QWaQwtog=="/>
  <add key="password" value="[pass encrypt]"/>
  <add key="password pass" value="NFDL/mnX8aAAdoEv+hb8RA=="/>
  <add key="server" value="SYB_DEV"/>
  <add key="dbparm" value=""/>

  <add key="producerGAPRIS" value="392766,392767,466049,401678,401673,401699,401733"/>
  <add key="producerHQGAPRIS" value="19,20"/>
  <!--<add key="retailProducerHQAon" value="4"/>
  <add key="coverageFormAon" value="USX8004.02.18"/>-->
  <add key="retailProducerHQMarsh" value="40,41,42,93"/>
  <add key="retailProducerQSG" value="470"/>
  <add key="coverageFormMarsh" value="GAM8004.02.14"/>
  <!--<add key="triaCeaseDate" value="12/31/2014"/>-->
  <add key="searchURL" value="www.google.com"/>
  <!-- enter reportExperience to true to enable link on General Info -->
  <add key="reportExperience" value="true"/>
  
  <add key="reportProgramId" value="46"/>
  <add key="reportExperienceText" value="Report #181 by Insured"/>
  <add key="reportExperienceRisk" value="Report #182 by Risk"/>
  <add key="CasualtyBulletinBoardURL" value="http://isp.gamcustom.local/dept/casualty/Casualty Bulletin Board/Forms/AllItems.aspx"/>

  <!-- enter emailRecipient value to override broker/contact email address; blank in production -->
  <add key="emailRecipient" value=""/>
  <!-- enter emailSubject value to prepend email subject line; blank in production -->
  <add key="emailSubject" value="DEMO PURPOSES ONLY - "/>
  <add key="emailConstructionWrapupEmail" value="craig.kanemoto@gamcustom.com"/>
  <add key="emailConstructionWrapupRecipient" value="Mr. Kirk Bull"/>
  <!-- enter emailConstructionWrapupCC value to override UW; blank in production -->
  <add key="emailConstructionWrapupCC" value="cmkanemoto@hotmail.com"/>
  <!-- for list of clone pattern tables - Quote.Clone() method; do not copy reinsurance, attachments, terrorism forms -->
  <add key="clonePatternRenewal" value="11111111111111111111000110011111"/>
  <add key="Default LossHistory Year Count" value="3"/>
  <add key="summarySubjectivity" value="NOTE: TO LIGHTEN THE DOCMENTATION ON THE INSURED'S END, WE ARE WILLING TO ADDRESS MOST OF THE ABOVE ISSUES DURING A CONFERENCE CALL."/>
  <add key="priorPendingDefault" value="The Retroactive Date stated in the Declarations page of this Policy"/>
  <add key="treatyAtlanta20xx" value="-1"/>

  <add key="factsheetUnderwriterTeams" value="1,2"/>
  <add key="defaultUnderwriterTeam" value="1"/>
  <add key="showUnderwriterTeamForUsers" value="4442,9549"/>
  <add key="factSheetDisclaimer" value="This scoring system is intended as a preliminary statistically-based process to help prioritize the inventory of pending submissions.  It is not a replacement for a detailed review of the data and underwriting of the risk performed by an experienced underwriter."/>

  <!-- 'default uderwriter managers' is a comma separated list of the underwriter
			  managers who will manage any mis-configured underwrters.  The tbl_uw_manager_map table
              contains the underwriter to manager relationships.  If an underwriter is absent from this
              table then they will not have a manager and there would be no one to approve their quotes.
			  The managers listed here will see these underwriter's quote in the ApprovalList page. 
              9438 = Kirk Bull.
		-->
  <add key="default underwriter managers" value="9438"/>
  <add key="secure audit report managers" value="9438,9549"/>
  <add key="clearance only underwriter" value="9849"/>

  <add key="Enable URL Encryption" value="true" />

  <!--eMail settings for the POLICY_NUMBERs running low -->
  <add key="POLICY_NUMBER Warning Mail Server" value="[address encrypt]"/>
  <add key="POLICY_NUMBER Warning Mail Server address" value="CALej17khZWMeN/Ejr/bHqTOQEegAE7zRcEJ5p+7mOE="/>
  <add key="POLICY_NUMBER Warning Mail From" value="craig.kanemoto"/>
  <add key="POLICY_NUMBER Warning Mail Reply To" value="craig.kanemoto@gamcustom.com"/>
  <add key="POLICY_NUMBER Warning Mail To" value="craig.kanemoto@gamcustom.com"/>
  <add key="POLICY_NUMBER Warning Mail Subject" value="POLICY_NUMBERs running low (DEV, Please Ignore)"/>
  <add key="POLICY_NUMBER Warning Mail CC" value=""/>
  <add key="POLICY_NUMBER Warning Mail BCC" value=""/>
  <add key="POLICY_NUMBER Warning Mail Priority" value="High"/>
  <add key="POLICY_NUMBER Warning Mail Domain" value="@gamCustom.com"/>

  <!--eMail settings for the CUSTOMER_NUMBERs running low -->
  <add key="CUSTOMER_NUMBER Warning Mail Server" value="[address encrypt]"/>
  <add key="CUSTOMER_NUMBER Warning Mail Server address" value="CALej17khZWMeN/Ejr/bHqTOQEegAE7zRcEJ5p+7mOE="/>
  <add key="CUSTOMER_NUMBER Warning Mail From" value="craig.kanemoto"/>
  <add key="CUSTOMER_NUMBER Warning Mail Reply To" value="craig.kanemoto@gamcustom.com"/>
  <add key="CUSTOMER_NUMBER Warning Mail To" value="craig.kanemoto@gamcustom.com"/>
  <add key="CUSTOMER_NUMBER Warning Mail Subject" value="Customer numbers running low (DEV, Please Ignore)"/>
  <add key="CUSTOMER_NUMBER Warning Mail CC" value=""/>
  <add key="CUSTOMER_NUMBER Warning Mail BCC" value=""/>
  <add key="CUSTOMER_NUMBER Warning Mail Priority" value="High"/>
  <add key="CUSTOMER_NUMBER Warning Mail Domain" value="@gamCustom.com"/>

  <!-- Web service URLs, userid and password -->
  <add key="2 VFI Service URL" value="https://dev.gamcustom.info/GACIssuanceServices/VariableFormInformation.svc"/>
  <add key="2 GACWebService UserId" value="[UID encrypt]"/>
  <add key="2 GACWebService UserId UID" value="kQ+jiR10PwlgvKM/jyH38jjBIUsjUB08g81N/3C6P34="/>
  <add key="2 GACWebService Password" value="[PWD encrypt]"/>
  <add key="2 GACWebService Password PWD" value="myj43emwcEhM6PA1r0lxtA=="/>


  <!--eMail settings for the error in Address verification web service. DEV and TEST can be configured to the developer/BSA and Production can be configured to customer support -->
  <add key="2 VFI Service Error Mail Server" value="[address encrypt]"/>
  <add key="2 VFI Service Error Mail Server address" value="CALej17khZWMeN/Ejr/bHqTOQEegAE7zRcEJ5p+7mOE="/>
  <add key="2 VFI Service Error Mail From" value="nirav.shah"/>
  <add key="2 VFI Service Error Mail Reply To" value="nirav.shah@gamcustom.com"/>
  <add key="2 VFI Service Error Mail To" value="nirav.shah@gamcustom.com"/>
  <add key="2 VFI Service Error Mail Subject" value="GAC VFI Service Notification (DEV)"/>
  <add key="2 VFI Service Error Mail CC" value=""/>
  <add key="2 VFI Service Error Mail BCC" value=""/>
  <add key="2 VFI Service Error Mail Priority" value="Low"/>
  <add key="2 VFI Service Error Mail Domain" value="@gamCustom.com"/>


  <add key="Download File Active" value="false"/>
  <add key="Download File Path" value="\\gaclaxmfs03\develop\isdev\prog_dev\testexcl"/>
  <add key="Download File Impersonate User" value="[uid encrypt]"/>
  <add key="Download File Impersonate User uid" value="ZQi11CUASuqq1pe3+yLqpQ=="/>
  <add key="Download File Impersonate Password" value="[pwd encrypt]"/>
  <add key="Download File Impersonate Password pwd" value="toPOwacOnn0phrxxR8qopg=="/>
  <add key="Download File Impersonate Domain" value="gamcustom"/>

  <!-- Show link to add PDF for externally created forms, for a department of the underwriter -->
  <add key="35 Allow External Forms" value="1"/>
  
</appSettings >