<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="Development Mode Security Override" value="false" />
  <add key="Watermark" value="GA Custom DR"/>

  <add key="copyright" value="© Copyright 2008-2017 Great American Custom Insurance Services Division. All rights reserved. DR."/>

  <!--  begin PROD section -->
  <add key="main DB Connection" value="server=GACDRMSQL01;database=premium;user id='[uid encrypt]';password='[pass encrypt]'"></add>
  <add key="main DB Connection uid" value="Gz64gq4DefWKO9JHtNB1hw=="/>
  <add key="main DB Connection pass" value="yWzkn8ttQzK9R1sKGdI2+A=="/>
  <add key="main DB DBMS" value="SqlClientParmed"></add>
  <add key="main DB Concurrency" value="Key"></add>

  <add key="mainnoforce DB Connection" value="server=GACDRMSQL01;database=premium;user id='[uid encrypt]';password='[pass encrypt]'"></add>
  <add key="mainnoforce DB Connection uid" value="Gz64gq4DefWKO9JHtNB1hw=="/>
  <add key="mainnoforce DB Connection pass" value="yWzkn8ttQzK9R1sKGdI2+A=="/>
  <add key="mainnoforce DB DBMS" value="SqlClientParmed"></add>
  <add key="mainnoforce DB Concurrency" value="Key"></add>

  <!-- Blob database connection-->
  <!--<add key="ldssql DB Connection" value="server=GACDRSQL01;database='LargeDataStorage';user id='[uid encrypt]';password='[pass encrypt]'"></add>
    <add key="ldssql DB Connection uid" value="JqTtKjq3caFC+Nx5Cgsnlg=="/>
    <add key="ldssql DB Connection pass" value="xXguha50dJVSR8WuYsH5Bw=="/>
    <add key="ldssql DB DBMS" value="SqlClient"></add>
    <add key="ldssql DB Concurrency" value="Key"></add>-->

  <!-- Forms Library database connection-->
  <add key="formslibrary DB Connection" value="server=GACDRSQL01;database=FormsLibrary;user id='[uid encrypt]';password='[pass encrypt]'"></add>
  <add key="formslibrary DB Connection uid" value="UJ4GcWXu4YF8WMxuCQCalA=="/>
  <add key="formslibrary DB Connection pass" value="kbauJUQZSCf0xm2t5/wMlw=="/>
  <add key="formslibrary DB DBMS" value="SqlClient"></add>
  <add key="formslibrary DB Concurrency" value="Key"></add>

  <add key="secure DB Connection" value="Server='GACDRSYBACIS';Port=5000;Database='secure';UID='[uid encrypt]';PWD='[pass encrypt]';TextSize=4096000;NamedParameters=true;Min Pool Size=5;Pooling=true;Max Pool Size=25;Application Name='CUSPSecure'"/>
  <add key="secure DB Connection uid" value="fNaodVYNQ9vwRYAJqZ9wsw=="/>
  <add key="secure DB Connection pass" value="jgQjEtFXvIiZ9RKMR1coEQ=="/>
  <add key="secure DB DBMS" value="ASENoForceUser"></add>
  <add key="secure DB Concurrency" value="Key"></add>

  <add key="sequence DB Connection" value="server=GACDRMSQL01;database=premium;user id='[uid encrypt]';password='[pass encrypt]'"></add>
  <add key="sequence DB Connection uid" value="jDm6xSBB3Fj/SzMpjdiscQ=="/>
  <add key="sequence DB Connection pass" value="BOe3WJKeFV8AmqSOenbfIQ=="/>
  <add key="sequence DB DBMS" value="SqlClientParmed"></add>
  <add key="sequence DB Concurrency" value="Key"></add>

  <add key="Form Specimen Service" value="https://gacdr.gamcustom.local/GACPublicWebServices/GetSpecimen.ashx?f={0}&amp;c={1}"/>
  <add key="Enable Specimen Links" value="true"/>
  <add key="Enable Letter Specimen Links" value="true"/>

  <!-- Used in DataPipe.aspx.vb for connecting to DB	-->
  <add key="database" value="ius"/>
  <add key="userid" value="[uid encrypt]"/>
  <add key="userid uid" value="Q3OLmzSLtoM/rFJAxnEUrg=="/>
  <add key="password" value="[pass encrypt]"/>
  <add key="password pass" value="66WO/8sifCSOu+FOkYCvhw=="/>
  <add key="server" value="GACDRSYBACIS"/>
  <add key="dbparm" value=""/>

  <add key="producerGAPRIS" value="392766,392767,466049,401678,401673,401699"/>
  <add key="producerHQGAPRIS" value="19,20"/>
  <!--<add key="retailProducerHQAon" value="4"/>
  <add key="coverageFormAon" value="USX8004.02.18"/>-->
  <add key="retailProducerHQMarsh" value="40,41,42,93"/>
  <add key="retailProducerQSG" value="470"/>
  <add key="coverageFormMarsh" value="GAM8004.02.14"/>
  <!--<add key="triaCeaseDate" value="12/31/2014"/>-->
  <add key="searchURL" value="www.google.com"/>
  <!-- enter reportExperience to true to enable link on General Info -->
  <add key="reportExperience" value="true"/>
  <add key="reportProgramId" value="46"/>
  <add key="reportExperienceText" value="Report #181 by Insured"/>
  <add key="reportExperienceRisk" value="Report #182 by Risk"/>
  <add key="CasualtyBulletinBoardURL" value="http://isp.gamcustom.local/dept/casualty/Casualty Bulletin Board/Forms/AllItems.aspx"/>

  <!-- enter emailRecipient value to override broker/contact email address; blank in production -->
  <add key="emailRecipient" value=""/>
  <!-- enter emailSubjectt value to prepend email subject line; blank in production -->
  <add key="emailSubject" value=""/>

  <!-- enter emailConstructionWrapupEmail value to addressee - Kirk Bull's email address in production -->
  <add key="emailConstructionWrapupEmail" value="kirk.bull@gamcustom.com"/>
  <!-- enter emailConstructionWrapupRecipient value to addressee's name - Kirk Bull in production -->
  <add key="emailConstructionWrapupRecipient" value="Mr. Kirk Bull"/>
  <!-- enter emailConstructionWrapupCC value to override UW; blank in production -->
  <add key="emailConstructionWrapupCC" value=""/>

  <!-- for list of clone pattern tables - Quote.Clone() method; do not copy reinsurance, attachments, terrorism forms -->
  <add key="clonePatternRenewal" value="11111111111111111111000110011111"/>
  <add key="summarySubjectivity" value="NOTE: TO LIGHTEN THE DOCMENTATION ON THE INSURED'S END, WE ARE WILLING TO ADDRESS MOST OF THE ABOVE ISSUES DURING A CONFERENCE CALL."/>
  <add key="priorPendingDefault" value="The Retroactive Date stated in the Declarations page of this Policy"/>
  <add key="treatyAtlanta20xx" value="-1"/>

  <add key="factsheetUnderwriterTeams" value="1,2"/>
  <add key="defaultUnderwriterTeam" value="1"/>
  <add key="showUnderwriterTeamForUsers" value="4442,9549"/>
  <add key="factSheetDisclaimer" value="This scoring system is intended as a preliminary statistically-based process to help prioritize the inventory of pending submissions.  It is not a replacement for a detailed review of the data and underwriting of the risk performed by an experienced underwriter."/>

  <!-- 'default uderwriter managers' is a comma separated list of the underwriter
			  managers who will manage any mis-configured underwrters.  The tbl_uw_manager_map table
              contains the underwriter to manager relationships.  If an underwriter is absent from this
              table then they will not have a manager and there would be no one to approve their quotes.
			  The managers listed here will see these underwriter's quote in the ApprovalList page. 
              9438 = Kirk Bull.
		-->
  <add key="default underwriter managers" value="9438"/>
  <add key="secure audit report managers" value="9438,8835,8330,8348,9581"/>
  <add key="clearance only underwriter" value="9849"/>

  <add key="Import UserId" value="CUSP"/>
  <add key="Import UserId uid" value="Yq4dIDkEmWKXN5QWaQwtog=="/>

  <!-- ViewstateMode  - controls processing on the Viewstate.
				Possible values:
				"Normal":   This is the default value which uses the normal ASP.NET
                            processing.
				"Compress": This compresses the Viewstate so that it takes less time so send
                            across the wire.  Simple testing has shown the reduction to result 
                            in a View state that is between 17% to 30% of the original 
                            Viewstate's size.
				"Encrypt":  This will encrypt the Viewstate so that clever users cannot change 
                            the values.  The Viewstate is also compressed so this ends up being
                            smaller that the normal Viewstate.  Typically this will be about
                            30% larger than a compressed Viewstate.  It is recommended that this
                            be used on all public facing web sites.
				-->
  <add key="ViewstateMode" value="Compress"/>

  <!-- Enable URL Encryption - controls if the query string values are encrypted
         Using this requests correct programming for accessing query string values and
		 creating URLs.  See documentation in the FAQ section of the EL Portal
         for more information. -->
  <add key="Enable URL Encryption" value="true" />

  <!--eMail settings for the Policy Numbers running low -->
  <add key="POLICY_NUMBER Warning Mail Server" value="[address encrypt]"/>
  <add key="POLICY_NUMBER Warning Mail Server address" value="CALej17khZWMeN/Ejr/bHqTOQEegAE7zRcEJ5p+7mOE="/>
  <add key="POLICY_NUMBER Warning Mail From" value="customer_support@gamcustom.com"/>
  <add key="POLICY_NUMBER Warning Mail Reply To" value="customer_support@gamcustom.com"/>
  <add key="POLICY_NUMBER Warning Mail To" value="customer_support@gamcustom.com"/>
  <add key="POLICY_NUMBER Warning Mail Subject" value="Policy numbers running low"/>
  <add key="POLICY_NUMBER Warning Mail CC" value="Nirav.shah@gamcustom.com,craig.kanemoto@gamcustom.com,Kim.Pavey@gamcustom.com,Ani.Vartanian@gamcustom.com"/>
  <add key="POLICY_NUMBER Warning Mail BCC" value=""/>
  <add key="POLICY_NUMBER Warning Mail Priority" value="High"/>
  <add key="POLICY_NUMBER Warning Mail Domain" value="@gamCustom.com"/>

  <!--eMail settings for the CUSTOMER_NUMBERs running low -->
  <add key="CUSTOMER_NUMBER Warning Mail Server" value="[address encrypt]"/>
  <add key="CUSTOMER_NUMBER Warning Mail Server address" value="CALej17khZWMeN/Ejr/bHqTOQEegAE7zRcEJ5p+7mOE="/>
  <add key="CUSTOMER_NUMBER Warning Mail From" value="customer_support@gamcustom.com"/>
  <add key="CUSTOMER_NUMBER Warning Mail Reply To" value="customer_support@gamcustom.com"/>
  <add key="CUSTOMER_NUMBER Warning Mail To" value="customer_support@gamcustom.com"/>
  <add key="CUSTOMER_NUMBER Warning Mail Subject" value="Customer numbers running low"/>
  <add key="CUSTOMER_NUMBER Warning Mail CC" value="Nirav.shah@gamcustom.com,craig.kanemoto@gamcustom.com,Kim.Pavey@gamcustom.com,Ani.Vartanian@gamcustom.com"/>
  <add key="CUSTOMER_NUMBER Warning Mail BCC" value=""/>
  <add key="CUSTOMER_NUMBER Warning Mail Priority" value="High"/>
  <add key="CUSTOMER_NUMBER Warning Mail Domain" value="@gamCustom.com"/>
</appSettings>